.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: relative;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1rem;
  background-color: var(--c-primary);
  color: var(--c-white);

  transition: background 0.2s ease;

  cursor: pointer;

  & i {
    font-size: 1.5rem;
  }

  &:hover,
  &:focus-within {
    background-color: var(--c-primary-l);
  }

  &Outline,
  &Outline:link,
  &Outline:visited {
    height: 4.5rem;
    width: 4.5rem;
    color: var(--c-primary-l);
    border: 0.2rem solid var(--c-primary-l);
    background: transparent;
    border-radius: 0.75rem;

    transition: color 0.2s ease, background 0.2s ease;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    &:hover,
    &:focus-within {
      background: var(--c-primary);
      color: var(--c-white);
      border-color: var(--c-primary);
    }
  }

  &Bubble,
  &Bubble:link,
  &Bubble:visited {
    height: 4rem;
    width: 4rem;
    padding: 0;

    background: var(--c-white);
    color: var(--c-grey-xd);
    border-radius: 100%;

    // transition: color 0.2s ease, background 1s ease;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    &:hover,
    &:focus-within {
      background: var(--c-grey-xl);
      color: var(--c-primary-xl);
    }
  }

  &Transparent,
  &Transparent:link,
  &Transparent:visited {
    height: 4rem;
    width: 4rem;
    padding: 0;
    background: transparent;
    color: rgba(white, 0.9);
    border: 0.2rem solid rgba(white, 0.2);
    border-radius: 100%;
    backdrop-filter: blur(2px);

    transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      font-size: 2.5rem;
    }

    &:hover,
    &:focus-within {
      background: var(--c-grey-xl);
      color: var(--c-grey-d);
      border: 0.2rem solid var(--c-grey-xl);
    }
  }

  &Social,
  &Social:link,
  &Social:visited {
    height: 7rem;
    aspect-ratio: 1;
    color: var(--c-primary-l);
    border: 0.2rem solid var(--c-grey-xl);
    background: var(--c-grey-xl);
    border-radius: 0.75rem;

    transition: border 0.2s ease, color 0.2s ease, background 0.2s ease;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      font-size: 2rem;
    }

    &:hover,
    &:focus-within {
      background: var(--c-primary);
      color: var(--c-white);
      border-color: var(--c-primary);
    }
  }
}
