@mixin backgroundStripes($color: rgba(255, 255, 255, 0.1)) {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  background: repeating-linear-gradient(
    45deg,
    $color,
    $color 2px,
    rgba(255, 255, 255, 0) 2px,
    rgba(255, 255, 255, 0) 10px
  );
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint, $less: true) {
  @if $less == true {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }
}
