@import "@/sass/abstracts/mixins";

section.ProjectsSection {
}

div.ProjectsContainer {
  @include limitWidth(100rem);

  display: inherit;
  gap: inherit;
}

.Projects {
  display: grid;
  gap: var(--gap-md);
  grid-template-columns: repeat(2, 1fr);

  @include respond(700) {
    grid-template-columns: repeat(1, minmax(auto, 45rem));
    justify-content: center;
  }
}

.Project {
  $bezel: 0.5rem;
  $border-radius: 2rem;

  overflow: hidden;
  border-radius: $border-radius;
  border: $bezel solid transparent;
  box-shadow: 0 0 0 0.2rem var(--c-primary-xl);

  display: grid;
  grid-template-rows: auto 1fr;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 0.2rem var(--c-primary);
  }

  &Image {
    width: 100%;
    height: auto;
    aspect-ratio: 1.6;
    position: relative;
  }

  &Content {
    $border-radius: calc(#{$border-radius} - #{$bezel});

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--gap-xs);
    padding: var(--gap-sm);
    border-radius: 0 0 $border-radius $border-radius;
    border-top: 0;
    background-image: linear-gradient(to bottom, transparent, var(--c-grey));
  }
}
