@use "@/sass/abstracts/mixins" as *;

.Header {
  height: 100vh;
  width: 100vw;
  padding: var(--width-sm);
  position: relative;
  background: var(--color-background-primary);
  z-index: calc(var(--z-index-stripes) + 1);

  justify-self: center;

  display: grid;

  @include respond(1100px) {
    max-width: 60rem;
  }
}

.Main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--width-sm);
  justify-content: center;
  align-items: center;
  justify-items: center;

  @include respond(1700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(1100px) {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
  }
}

.Content {
  display: grid;
  justify-items: center;
  text-align: center;

  & > :global(.paragraph) {
    max-width: 40ch;
  }

  & > *:not(:last-child) {
    margin-bottom: var(--width-text-spacing);
  }

  &Role,
  &Name,
  &Intro,
  &Description {
    opacity: 0;
    translate: 0 1rem;
  }
}

.Links {
  display: flex;
  grid-column-gap: var(--width-xs);
}

.Link {
  width: 4rem;
  height: 4rem;
  padding: 0;

  opacity: 0;
  translate: 0 1rem;

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.Image {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;

  opacity: 0;
  translate: 0 5rem;

  @include respond(1100px) {
    grid-row: 1 / span 1;
  }
}
