.Header {
  height: 100vh;
  width: 100vw;
  padding: var(--width-sm);
  position: relative;
  background: var(--color-background-primary);
  z-index: calc(var(--z-index-stripes) + 1);

  display: grid;
}

// .Header:not(.visible) {
//   & .Image {
//     opacity: 0;
//     translate: 0 5rem;
//   }

//   & .Content {
//     &Role,
//     &Name,
//     &Intro,
//     &Description,
//     .Link {
//       opacity: 0;
//       translate: 0 2rem;
//     }
//   }
// }

// .Header.visible {
//   & .Image {
//     opacity: 1;
//     translate: 0 0;
//   }

//   & .Content {
//     &Role,
//     &Name,
//     &Intro,
//     &Description,
//     .Link {
//       opacity: 1;
//       translate: 0 0;
//     }
//   }
// }

.Main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--width-sm);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.Content {
  display: grid;
  justify-items: center;
  text-align: center;

  & > :global(.paragraph) {
    max-width: 40ch;
  }

  & > *:not(:last-child) {
    margin-bottom: var(--width-text-spacing);
  }

  &Role,
  &Name,
  &Intro,
  &Description {
    opacity: 0;
    translate: 0 1rem;
  }
}

.Links {
  display: flex;
  grid-column-gap: var(--width-xs);
}

.Link {
  width: 4rem;
  height: 4rem;
  padding: 0;

  opacity: 0;
  translate: 0 1rem;

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.Image {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;

  opacity: 0;
  translate: 0 5rem;
}
