.Modal {
  width: 100vw;
  height: 100vh;
  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;
}

button.Close {
  position: absolute;
  top: var(--width-sm);
  right: var(--width-sm);
}

.Images {
  position: relative;
  width: 75vw;
  height: 100vh;
  max-height: 75vh;
}

.Image {
  position: absolute;
  width: 100%;
  height: 100%;

  & > img {
    object-fit: contain;
  }
}

button.PrevSlide,
button.NextSlide {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

button.PrevSlide {
  left: var(--width-sm);
}

button.NextSlide {
  right: var(--width-sm);
}
