.Modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  translate: -50% -50%;
  z-index: var(--z-index-modal);

  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(black, 0.2);

  transition: opacity 0.2s ease-in-out, visibility 0.2s;

  &Content {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    transition: scale 0.5s ease-in-out;
  }
}
