@use "@/sass/abstracts/mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;

  cursor: none !important;
  user-select: none !important;
}

html {
  box-sizing: border-box;
  overscroll-behavior: none;
  font-size: calc(25% + 0.4vw);
  scroll-behavior: smooth;

  @include respond(1200px) {
    font-size: 56.25%;
  }

  @include respond(900px) {
    // 8px
    font-size: 50%;
  }

  @include respond(400px) {
    // 8px
    font-size: 45%;
  }

  @include respond(1920px, false) {
    // 12px
    font-size: 65%;
    font-size: calc(15% + 0.55vw);
  }

  &.noCursor,
  &.noCursor * {
    cursor: none !important;
  }
}

body {
  background: var(--bg-main);
  overscroll-behavior: inherit;
}

.container {
  position: relative;

  &-scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
  }
}

.main {
  position: relative;
  background-color: var(--color-background-primary);
  overflow: hidden;
}

button {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
  // pointer-events: none;
  object-fit: cover;
}

input,
textarea {
  margin: 0;
  min-width: 0;

  &:focus {
    outline: none;
  }
}

.css-transitions-only-after-page-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

*:focus-visible {
  outline: 0.1rem solid var(--c-gold);
  outline-offset: 0.75rem;
}

.grecaptcha-badge {
  visibility: hidden;
}
