body,
input,
label,
button,
textarea,
select {
  line-height: 1.5;
  font-size: var(--font-size);
}

.header,
.subtitle,
.caption,
.paragraph,
.ul,
.li {
  z-index: var(--z-index-stripes);
}

.header {
  line-height: 1.2;
  color: var(--text-color-title-dark);

  &.light {
    color: var(--text-color-title-light);
  }
}

.header-title {
  font-size: 6rem;
  text-transform: capitalize;
  font-weight: 800;
}

.header-section {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 800;
}

.header-card {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text-color-subtitle-dark);
  text-transform: uppercase;

  &.light {
    color: var(--text-color-subtitle-light);
  }
}

.caption {
  text-transform: uppercase;
  font-size: var(--font-size);
}

.paragraph,
.ul,
.li {
  font-size: var(--font-size);
  color: var(--text-color-paragraph-dark);

  &.light {
    color: var(--text-color-paragraph-light);
  }
}

.ul {
  padding-left: 2rem;
}
