@import "@/sass/abstracts/mixins";

section.SkillsSection {
  padding: 0;
}

.Container {
  display: grid;
  justify-items: center;
  gap: 0;
  background-color: var(--color-background-secondary);
}

.Content {
  max-width: var(--width-section-max);
  width: 100%;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.Skills {
  display: grid;
  align-content: center;
  gap: var(--width-section-gap);
  padding: var(--width-section-gap);
  height: 100%;
  position: relative;

  &Light {
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    background: var(--color-primary);
  }

  &Header {
    opacity: 0;
    translate: 0 2rem;
  }

  &List {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }

  &ListItem {
    opacity: 0;
    translate: 0 2rem;
  }
}

.Skill {
  display: flex;
  gap: var(--width-xs);
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 100rem;
  border: 1px solid transparent;

  color: var(--text-color-paragraph-light);

  transition: background-color 0.3s ease, border-color 0.3s ease, scale 0.1s ease;

  &:hover {
    background-color: var(--color-panel-background);
    border-color: var(--color-panel-border);
  }

  &:active {
    scale: 0.95;
  }

  &Icon {
    display: grid;
    justify-items: center;
    align-items: center;

    & > svg {
      width: 3rem;
      height: 3rem;
      color: var(--text-color-title-light);
    }
  }

  &Name {
    color: inherit;
  }
}

.Code {
  min-height: 50rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  padding: var(--width-section-gap);

  @include backgroundStripes();
}
