section.ProjectsSection {
  background-color: var(--color-background-primary);
  z-index: calc(var(--z-index-stripes) + 1);
  border-bottom: var(--border-stripes);
  margin-bottom: var(--width-sm);
  // padding-left: 0;
  // padding-right: 0;
}

.Divider {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  border-top: var(--border-stripes);
  width: 100vw;
}

.Projects {
  overflow: auto;
  margin-left: calc(var(--width-section-padding) * -1);
  margin-right: calc(var(--width-section-padding) * -1);
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: -10rem;
  margin-bottom: -10rem;
}

.Container {
  display: flex;
  gap: var(--width-sm);

  white-space: nowrap;
  padding-left: var(--width-section-padding);
  padding-right: var(--width-section-padding);
  width: max-content;
  min-width: 100%;
}
