@use "@/sass/abstracts/mixins" as *;

.Code {
  perspective: 105rem;
  margin-left: -3rem;

  @include respond(1000px) {
    max-width: 50rem;
    margin-left: 0;
  }
}

.Window {
  background: var(--code-background);
  color: var(--code-text-dark);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: var(--code-border);
  box-shadow: var(--box-shadow-large);

  opacity: 0;
  rotate: y -10deg;
  translate: 0 2rem;

  transition: scale 0.5s ease-in-out, transform 0.5s ease;

  &:active {
    scale: 0.98;
  }
}

.Shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(to top right, transparent, rgba(white, 0.05));
}

.Header {
  border-bottom: var(--code-border);
  display: flex;
  gap: var(--width-xs);
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--width-xs);
}

.Buttons {
  display: flex;
  gap: 0.75rem;
  padding: 1.25rem 0;
}

.Button {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 100%;

  &:nth-child(1) {
    background: #fc5f57;
  }

  &:nth-child(2) {
    background: #febc2e;
  }

  &:nth-child(3) {
    background: #27c840;
  }
}

.Tabs {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

button.Tab {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  padding: 0.5rem 1rem;
  border-radius: 22rem;
  border: 1px solid transparent;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover,
  &:focus-visible,
  &.active {
    background: rgba(white, 0.1);
    color: var(--code-text-light);
    border-color: rgba(white, 0.1);
  }

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.Editor {
  padding: 1rem var(--width-sm);
  user-select: none;
  grid-row: 1 / span 2;
}

.Content {
  display: flex;
  height: auto;

  transition: height 0.3s ease-in-out;
}

.Text {
}

.Lines {
  display: grid;
  align-content: flex-start;
  margin-right: 2rem;
  align-self: start;
}

.Number {
  width: 2ch;
  display: inline-block;
}

.Character {
  visibility: hidden;
}
