@import "@/sass/abstracts/mixins";

section.ContactSection {
}

div.ContactContainer {
  display: inherit;
  gap: inherit;

  @include respond(700) {
    grid-template-columns: minmax(auto, 35rem);
    justify-content: center;
  }
}

.Contact {
  $border: 0.2rem solid var(--c-primary);

  border-radius: 2rem;
  border: $border;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include respond(700) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  &Column,
  &Row,
  &Cell {
    display: grid;
  }

  &Column {
    &:not(:last-child) {
      border-right: $border;

      @include respond(700) {
        border: 0;
        border-bottom: $border;
      }
    }
  }

  &Row {
    &:not(:last-child) {
      border-bottom: $border;
    }
  }

  &Cell {
    padding: var(--gap-sm);
    align-items: center;
  }
}

.Socials {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.Social {
  display: grid;
  position: relative;
  grid-template-columns: auto;
}
